<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
        <div class="container">
            <div class="content">
                <h1>Search Application based on Elasticsearch</h1>

                <form action="/" method="post">
                    <div class="form-group col-md-6">
                        <label>Keywords:</label>
                        <input type="text" name="keywords" class="form-control"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Query-Logic:</label><br>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-light" for="tfidf">
                                <input type="radio" id="tfidf" name="logic" value="tfidf" checked> tf*idf
                            </label>
                            <label class="btn btn-light" for="bool">
                                <input type="radio" id="bool" name="logic" value="boolean"> Boolean
                            </label>
                            <label class="btn btn-light" for="lm">
                                <input type="radio" id="lm" name="logic" value="lm"> LMDirichlet
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </form>

                {% if output_info %}
                    <div>
                        <p>Found <b>{{output_info.count}}</b> articles
                        with the query <b>{{output_info.keywords}}</b>
                        and the query logic <b>{{output_info.query_logic}}</b>
                        </p>
                    </div>
                {% endif %}

                <table class="table">
                    {% for article in articles %}
                        <tr>
                            <td><img src="{{article['thumbnail-src']}}"/></td>
                            <td>
                                {% if article.Article %}
                                    <h2>{{article.Article}}</h2>
                                {% elif article.title %}
                                    <h2>{{article.title}}</h2>
                                {% endif %}

                                {% if article.date!="null" %}
                                    <small>{{article.date}}</small>
                                {% endif %}

                                <br/>
                                <button class="btn btn-secondary btn-sm mt-2" type="button" data-toggle="collapse" data-target="#collapse_article_{{loop.index}}">
                                    Show article
                                </button>
                                <div class="collapse" id="collapse_article_{{loop.index}}">
                                    {% if article.wtext %}
                                        <p>{{article.wtext}}</p>
                                    {% elif article.text %}
                                        <p>{{article.text}}</p>
                                    {% endif %}

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>

        <footer>Exercise 5 | Group C | Gro&szlig;auer, Orellan, Hammerle</footer>

    </body>
</html>
